@using DenevCloud.AspNetCore.Services.Azure.VirtualMachines
@using DenevCloud.AspNetCore.Services.Azure.VirtualMachines.NetworkInterfaces

@inject IVMManager vmManager
@inject INetworkInterfaceManager netManager

@{
    ViewData["Title"] = "Home Page";
    var vm = vmManager.GetVirtualMachine("Your_VM_Name");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Name: @vm.Name</p>
    <p>Location: @vm.Location</p>

    <p>Public Ipv4: @netManager.GetListPublicIpv4(vm).First()</p>
    <p>Public Ipv6: @netManager.GetListPublicIpv6(vm).First()</p>

    <p>Private Ipv4: @netManager.GetListPrivateIpv4(vm).First()</p>
    <p>Private Ipv6: @netManager.GetListPrivateIpv6(vm).First()</p>

    <div>
        <form class="form-inline" asp-action="SaveSecret" asp-controller="Home" method="post">
            <div class="form-group">
                <label class="mr-2">Secret Name</label>
                <input class="form-control" name="SecretName" value="" />
            </div>
            <div class="form-group">
                <label class="mr-2">Secret Value</label>
                <input class="form-control" name="SecretValue" type="password" value="" />
            </div>
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
    </div>

    @if (ViewBag.SecretSaved == true)
    {
        <p class="text-success">Saved</p>
    }

</div>